@{
    ViewBag.Title = "Infinite Image Scroller";
}

<div id="gallery" class="panel panel-default" style="margin-top: 20px; padding: 15px;">
    <div class="row" data-bind="foreach: Images">
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img data-bind="attr: {src: Path, alt: Name}" style="height:150px" />
            </a>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/knockout-3.0.0.js"></script>
    <script src="~/Scripts/app.js"></script>
    <script type="text/javascript">
        $(function () {
            var url = "@Url.Action("GetGallery")";

            //initilize gallery
            gallery = new galleryViewModel(url);
            ko.applyBindings(gallery, $("#gallery")[0]);
        });
    </script>
}